<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <context:component-scan base-package="com.lip6.services.*" /> <context:annotation-config/> -->
    <bean id="emf" class="com.lip6.util.JpaUtil" factory-method="getEmf"/>


    <!-- Contacts -->
    <bean id="contactKrish" class="com.lip6.entities.Contact">
        <property name="firstName" value="Krish"/>
        <property name="lastName" value="Theva"/>
        <property name="email" value="krishTheva@gmail.com"/>
        <property name="address">
            <ref bean="adressKrish"/>
        </property>
        <property name="phones">
            <set>
                <ref bean="numKrish1"/>
                <ref bean="numKrish2"/>
            </set>
        </property>
    </bean>

    <bean id="contactAurel" class="com.lip6.entities.Contact">
        <property name="firstName" value="Aurel"/>
        <property name="lastName" value="Sharma"/>
        <property name="email" value="AurelSharma@gmail.com"/>
        <property name="address">
            <ref bean="adressAurel"/>
        </property>
        <property name="phones">
            <set>
                <ref bean="numAurel1"/>
                <ref bean="numAurel2"/>
            </set>
        </property>
    </bean>

    <!-- Adresse -->
    <bean id="adressKrish"
          class="com.lip6.entities.Address">
        <property name="street">
            <value>84 Rue Krish</value>
        </property>
        <property name="zip">
            <value>92130</value>
        </property>
        <property name="city">
            <value>Issy-Les-Moulineaux</value>
        </property>
        <property name="country">
            <value>France</value>
        </property>
        <property name="contact">
            <ref bean="contactKrish"/>
        </property>
    </bean>

    <bean id="adressAurel"
          class="com.lip6.entities.Address">
        <property name="street">
            <value>100 Rue Aurel</value>
        </property>
        <property name="zip">
            <value>92000</value>
        </property>
        <property name="city">
            <value>Nanterre</value>
        </property>
        <property name="country">
            <value>France</value>
        </property>
        <property name="contact">
            <ref bean="contactAurel"/>
        </property>
    </bean>

    <!-- Num -->
    <bean id="numKrish1" class="com.lip6.entities.PhoneNumber">
        <property name="phoneKind">
            <value>Fixe</value>
        </property>
        <property name="phoneNumber">
            <value>0187845427</value>
        </property>
        <property name="contact">
            <ref bean="contactKrish"/>
        </property>
    </bean>

    <bean id="numKrish2" class="com.lip6.entities.PhoneNumber">
        <property name="phoneKind">
            <value>Portable</value>
        </property>
        <property name="phoneNumber">
            <value>0647895965</value>
        </property>
        <property name="contact">
            <ref bean="contactKrish"/>
        </property>
    </bean>

    <bean id="numAurel1" class="com.lip6.entities.PhoneNumber">
        <property name="phoneKind">
            <value>Fixe</value>
        </property>
        <property name="phoneNumber">
            <value>0187456522</value>
        </property>
        <property name="contact">
            <ref bean="contactAurel"/>
        </property>
    </bean>

    <bean id="numAurel2" class="com.lip6.entities.PhoneNumber">
        <property name="phoneKind">
            <value>Portable</value>
        </property>
        <property name="phoneNumber">
            <value>0789522452</value>
        </property>
        <property name="contact">
            <ref bean="contactAurel"/>
        </property>
    </bean>

    <!-- ContactGroup -->
    <bean id="contactGroupMIAGE" class="com.lip6.entities.ContactGroup">
        <constructor-arg value="M2 MIAGE APP"/>
    </bean>

</beans>
